* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    background-color: #cccccc;
    margin: 5px 0px;
}

.background {
    position: fixed;
    width: 100%;
}

.background-text-left {
    transform-origin: top left;
    transform: rotate(-90deg) translate(-50%, 0);
    position: fixed;
    top: 50%;

}

.background-text-right {
    transform-origin: bottom right;
    transform: rotate(-90deg) translate(50%, 0);
    position: fixed;
    bottom: 50%;
    right: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 24px;
    padding: 20px;
    text-align: left;
}

.nav {
    text-align: center;
}

.banner {
    text-align: center;
    padding: 20px;
}

.content {
    margin: 20px;
}

.body {
    display: flex;
    padding: 10px 0;
    flex: 1;
}

.sidebar {
    min-height: 500px;
    flex: 0 0 250px;
    margin-right: 10px;
    padding: 20px;
    text-align: center;
}

.content-body {
    min-height: 500px;
    flex: 1;
    padding: 20px;
    text-align: center;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }