* {
    box-sizing: border-box;
}

.box {
    background-color: #ccc;
    margin: 5px 0;
    padding: 10px;
    text-align: center;
}

.logo {
    text-align: left !important;
}

.main {
    margin: 20px 0;
}

.sidebar {
    float: left;
    width: 30vw;
    height: 70vh;
}

.main-area {
    float: right;
    width: calc(70vw - 40px);
    height: 70vh;
}

.footer {
    clear: both;
}